.session {
  @include outer-container;

  .title {
    @include span-columns(3 of 8);

    padding: $base-spacing * 2.6 0;
  }

  h2 {
    font-size: $base-font-size * 1.6;
  }

  .form {
    @include span-columns(4 of 8);

    padding: $base-spacing * 2.6 0;
  }

  .form-action {
    padding: $base-spacing 0;
  }

  .error {
    color: $deep-red;
  }
}
