<section class="intro" data-role="intro">
  <div class="wrapper">
    <hr>
    <p class="tagline">Online banking made simple.</p>
    <h2>Welcome to Digibank</h2>

    <div class="description">
    <p>A simple banking experience, more convenient than anything you've tried before.
    With our highly connected, always available network, managing finances truly is simple: always just a click away.</p>

    <%= link_to "Register an account", new_registration_path, class: "button" %>
    </div>
  </div>
</section>
