.banner {
  background-color: $yellow;
  color: $base-background-color;
  padding: $small-spacing;

  .wrapper {
    @include outer-container;
  }

  .nav {
    text-align: right;
  }
}

.banner .logo {
  @include span-columns(1);

  text-transform: uppercase;

  a {
    color: $base-background-color;

    &:hover {
      border-bottom: 1px solid $base-background-color;
    }
  }
}
